Flask==0.12.1
flask-login
wtforms
jinja2>=2.4
waitress==1.0.1
itsdangerous>=0.21
click>=2.0
Werkzeug>=0.7
flask-moment
flask-wtf
flask-sqlalchemy
flask_bootstrap
bleach
markdown
flask-pagedown
requests
test